<nav>
  <div class="navbar">
    <div>
      <h2 class="navbar-header">
        <%=  link_to 'Wikinimous', articles_path %>
      </h2>
    </div>
    <div>
      <h2>
        <%= link_to 'New artice', new_path %>
      </h2>
    </div>
  </div>
</nav>

<p>
  <% @articles.each do |article| %>
  <% article %>

    <ul class="list">
      <%= link_to "#{article.title}", article_path(article) %>
      <li>
        <%= "#{article.content}" %>
      </li>
    </ul>

  <% end %>
</p>


